@model TechnoVibe.Entity.Order

@{
    ViewData["Title"] = "Edit";
}
@inject UserManager<IdentityUser> userManager
@using Microsoft.AspNetCore.Identity

<div style="margin-left: 2%;">
<h1>Edit Order</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <input type="hidden" asp-for="OrderId" />
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="FullName" />
            <input type="hidden" asp-for="Address" />
            <input type="hidden" asp-for="phoneNumber" />
                <input type="hidden" asp-for="TotalPrice" />
                @{ var user = await userManager.GetUserAsync(User);}

                    @if (await userManager.IsInRoleAsync(user, "Driver"))
                    {
                    <input type="hidden" asp-for="AppUserId" />
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="AppUserId" class="control-label"></label>
                        <input required maxlength="450" asp-for="AppUserId" class="form-control" style="width: 330px;" />
                        <span asp-validation-for="AppUserId" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="StatusId" class="control-label"></label>
                    <input required min="1" asp-for="StatusId" class="form-control" style="width: 330px;" />
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-2" asp-action="IndexCategory">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
