@model IEnumerable<TechnoVibe.Entity.ProductCategory>

@{
    ViewData["Title"] = "Product Categoryes";
}

<style>
    .table {
        width: 96%;
        margin: 0 2%;
    }
    h1, p{
        margin: 0 2%;
    }

    th, td {
        padding: 10px;
    }

    th {
        background-color: #f2f2f2;
    }

    td {
        border-bottom: 1px solid #ddd;
    }

    td.actions {
        text-align: center;
    }

    td.category-id {
        width: 10%;
    }
</style>

<h1>All Categoryes</h1>

<p>
    <a class="btn btn-dark mb-2" asp-action="CreatePC">Create New</a>
</p>
<table class="table table-striped table-bordered rounded custom-table" style="border-radius: 10px; overflow: hidden;">
    <thead>
        <tr class="table-primary">
            <th class="category-id">
                ProductId
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td class="category-id">
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td class="actions">
                    <div class="d-flex">
                <form style="margin-left: 1%;" action="@Url.Action("DeletePC", "ProductCat", new { id = item.Id })" onsubmit="return confirm('Are you sure you want to delete this item?')">
                            <button type="submit" class="btn btn-danger btn-sm-custom">Delete</button>
                </form>
            </div>
                </td>
            </tr>
        }
    </tbody>
</table>
